name: Publish to NuGet

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Get Version from Tag
      id: get_version
      run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
      
    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build ./Wiaoj.Publish.slnf --configuration Release --no-restore

    
    - name: Pack Filtered Solution
      run: |
        dotnet pack ./Wiaoj.Publish.slnf \
          --configuration Release \
          --no-build \
          --output ./nupkgs \
          -p:PackageVersion=${{ env.VERSION }}

    - name: Push to NuGet
      run: |
        dotnet nuget push "./nupkgs/*.nupkg" \
          --api-key ${{ secrets.NUGET_API_KEY }} \
          --source https://api.nuget.org/v3/index.json \
          --skip-duplicate